.task {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--grey-400);
  background: var(--grey-500);
  padding: 1rem;

  position: relative;
  line-break: anywhere;
}

.task p {
  padding-right: 1rem;
}

.checked {
  border: 1px solid var(--grey-400);
  text-decoration: line-through;
}

.removeButton {
  right: 1rem;
  position: absolute;
}