* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-100: #f2f2f2;
  --grey-200: #d9d9d9;
  --grey-300: #808080;
  --grey-400: #333333;
  --grey-500: #262626;
  --grey-600: #1a1a1a;
  --grey-700: #0d0d0d;

  --blue-300: #4ea8de;
  --blue-700: #1e6f9f;

  --purple-300: #8284fa;
  --purple-700: #5e60ce;

  --red-500: #e25858;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-300);
}

body {
  background: var(--grey-600);
  color: var(--grey-300);
  -webkit-font-smoothing: antialised;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
