.newTask {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-top: -26px;
}

.newTask input[type='text'] {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--gray-500);
  border: 1.5px solid var(--gray-700);
  color: var(--gray-200);

  width: 100%;
  min-width: 150px;
}

.newTask input[type='text']::placeholder {
  color: var(--gray-300);
}

.newTask input[type='text']:focus {
  background: var(--gray-400);
}

.button {
  border: none;
  cursor: pointer;

  background: var(--blue-700);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--gray-100);
  min-width: 90px;
}

.button img {
  margin: auto;
  margin-bottom: -2.7px;
}

.button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .newTask {
    padding: 0 1rem;
  }

  .button img {
    display: none;
  }
}
