.newTask {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-top: -26px;
}

.newTask input[type='text'] {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--grey-500);
  border: 1.5px solid var(--grey-700);
  color: var(--grey-200);

  width: 100%;
  min-width: 150px;
}

.newTask input[type='text']::placeholder {
  color: var(--grey-300);
}

.newTask input[type='text']:focus {
  background: var(--grey-400);
}

.button {
  border: none;
  cursor: pointer;

  background: var(--blue-700);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--grey-100);
  min-width: 90px;
}

.button img {
  margin: auto;
  margin-bottom: -2.7px;
}

.button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .button img {
    display: none;
  }
}
